.gitignore
node_modules
.DS_Store
build
.gradle
dist
target
out
/*.tmp
*.iml
*.ipr
*.iws
.idea
bin
.project
.classpath
.settings
*.sublime-project
*.sublime-workspace
.vagrant
atlassian-ide-plugin.xml
.nb-gradle-properties
*.log
nbactions.xml
nb-configuration.xml
catalina.home_IS_UNDEFINED
.idea/*